.form-title{
    text-align: center;
}

.form-div {
    margin: 5% 0;
}

.xp-submit-btn{
    width: 100%;
}
  
.add-new-item, .remove-item{
    cursor: pointer;
    height: 58px !important;
}

.form-floating-group input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

.btn-menu a:first-child {
    margin-right: 10px;
}

.btn-menu a {
    border-radius: 10px !important;
}